
$dark: #333;
$middlegray: #7F7F7F;
// white         #FFFFFF -> 255   128   100%
// light gray    #DDDDDD -> 221    94    73%
// middle gray   #7F7F7F -> 127     0     0%
$grayish-bg: rgba(127, 127, 127, 0.1);
$gray-line: $grayish-bg 1px solid;
$code-border: none;
$sidebar-width: 100px;